body {
    font-family: Lato;
}

.main-header {
    height: 50px;
    margin-top: 10px;
}

.main {}

.main-footer {
    height: 50px;
}

.main-nav {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    margin-left: 20px;
}

.main-nav a,
.main-nav a:visited,
.main-nav a:hover,
.main-nav a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #000;
    background: none;
}

.main-nav a:hover {
    color: orangered;
}

.main-nav a:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    bottom: -0.25em;
    height: 2px;
    width: 0;
    background: orangered;
}

.main-nav a:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main-nav a:hover:before,
.main-nav a:hover:after {
    width: 100%;
}

.aside_section{
	padding-bottom: 20px;
}

.aside_section:not(:first-child){
	border-top: 1px solid lightgray;
}

.aside_section ul{
	margin: 0 0 0 20px;
}
.aside_section li{
	list-style: none;
}
.item:not(:first-child){
	border-bottom: 1px solid lightgray;
	padding-bottom: 20px;
}